:root {
    --thumb-width: 14px;
    --thumb-height: 14px;
}




.circlebase {
    display: table-cell;
    position: relative;
    border-radius: 50%;
    left: 400px;
    top: 0px;
    text-justify: center;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid;
}

#error-message {
    text-align: right;
    display: none;
    color: red;
    overflow: hidden;
    transition: max-height 0.5s;
    max-height: 100px;
    margin-bottom: 10px;
}

#error-message.hidden {
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s;
}

#tarifs {
    text-align: center;
    width: 100%;
    /*height: 100px;*/
}

#heart {
    display: table-cell;
    position: relative;
    /*left: 400px;*/
    top: -4px;
    /*width: 2%;*/
    vertical-align: middle;
    text-align: center;
    transition: .6s;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    /* Ajoutez cette ligne */

}

#amoureux {
    transition-duration: 1s;
}


.textPerso {
    position: relative;
    text-align: center;
    float: left;
    cursor: pointer;
}

.textPerso.active {
    opacity: 1;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition-property: width, opacity, transform;
    transition-duration: 0.5s, 1s, 2s;
    width: 40%;
    height: 150pt;
    overflow: hidden;
}

.btn {
    position: relative;
    z-index: 1;
}

.priceTag {
    color : blue;
}

.textPerso.inactive {
    opacity: 0.5;
    overflow: hidden;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -ms-transition: left 2s;
    -o-transition: left 2s;
    transform: translate(0, 10%);
    transition-property: width, opacity, transform;
    transition-duration: 0.5s, 1s, 2s;
    width: 15%;
    height: 150pt;
    mask-image: -webkit-gradient(linear, left top, left bottom,
            from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

.slider {
    --thumb-color: #4776e6;
    cursor: pointer;

    --color1: rgba(220, 20, 60, 1);
    --color2: rgba(255, 127, 80, 1);
    --color3: rgba(114, 170, 221, 1);
    --color4: rgb(0, 156, 130);
    --color5: rgb(0, 179, 68);
}




input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -webkit-gradient(linear, left bottom, right top,
            color-stop(0%, var(--color1)),
            color-stop(30%, var(--color2)),
            color-stop(51%, var(--color3)),
            color-stop(80%, var(--color4)),
            color-stop(100%, var(--color5)));
    background: -webkit-linear-gradient(45deg,
            var(--color1) 0%,
            var(--color2) 30%,
            var(--color3) 51%,
            var(--color4) 80%,
            var(--color5) 100%);
    height: 2px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg,
            var(--color1) 0%,
            var(--color2) 30%,
            var(--color3) 51%,
            var(--color4) 80%,
            var(--color5) 100%);
    background: -webkit-gradient(left bottom,
            right top,
            color-stop(0%, var(--color1)),
            color-stop(30%, var(--color2)),
            color-stop(51%, var(--color3)),
            color-stop(80%, var(--color4)),
            color-stop(100%, var(--color5)));
    background: -webkit-linear-gradient(45deg,
            var(--color1) 0%,
            var(--color2) 30%,
            var(--color3) 51%,
            var(--color4) 80%,
            var(--color5) 100%);
    background: -o-linear-gradient(45deg,
            var(--color1) 0%,
            var(--color2) 30%,
            var(--color3) 51%,
            var(--color4) 80%,
            var(--color5) 100%);
    background: -ms-linear-gradient(45deg,
            var(--color1) 0%,
            var(--color2) 30%,
            var(--color3) 51%,
            var(--color4) 80%,
            var(--color5) 100%);
    background: linear-gradient(45deg,
            var(--color1) 0%,
            var(--color2) 30%,
            var(--color3) 51%,
            var(--color4) 80%,
            var(--color5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
    height: 2px;
}

/*input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: white;
    cursor: grab;
    transition: border 1000ms ease;
}*/

.rangeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    position: relative;
    top: 0;
    left: 3%;
    margin: 0;
    padding: 0;

}

input[type="range"]:focus {
    outline: none;
}

input[type="range"] {
    /* Assurez-vous que le thumb est visible */
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: transparent;
    border: none;
}

/*input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--thumb-width);
    height: var(--thumb-height);
    background: var(--thumb-color);
    transition: background 0.3s ease-in-out;
}*/


input[type="range"]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    margin-top: -6px;
    border-radius: 50%;
    background: var(--thumb-color);
    transition: background 0.2s ease-in-out;
    /*border : none;*/
    -webkit-appearance: none; /* This is necessary for Chrome */
    border : 1px solid;
}


input[type="range"]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    /*border-radius: 50%;*/
    background: var(--thumb-color);
    transition: background 0.2s ease-in-out;
    /*border : none;*/
}



@keyframes sparkle {
    

    0%,
    35% {
        box-shadow:
            0 0 0 0px rgba(var(--red), var(--green), var(--blue), 0.986),
    }

    10%,
    45% {
        box-shadow:
            0 0 0 0px rgba(var(--red), var(--green), var(--blue), 0.986),
            0 0 0 1px rgba(var(--red), var(--green), var(--blue), 0.8),
            0 0 0 2px rgba(var(--red), var(--green), var(--blue), 0.6),
            0 0 0 3px rgba(var(--red), var(--green), var(--blue), 0.4),
            0 0 0 4px rgba(var(--red), var(--green), var(--blue), 0.2),
            0 0 0 5px rgba(var(--red), var(--green), var(--blue), 0.1),
            0 0 0 6px rgba(var(--red), var(--green), var(--blue), 0.05)
    }

    30%,
    55%,
    100% {
        box-shadow: none;
    }
}


@keyframes text-sparkle {

    0%,
    35% {
        text-shadow:
        0 0 2px rgba(var(--red), var(--green), var(--blue), 0.986)
    }

    10%,
    45% {
        text-shadow:
            0 0 2px rgba(var(--red), var(--green), var(--blue), 0.986),
            0 0 3px rgba(var(--red), var(--green), var(--blue), 0.6),
            0 0 4px rgba(var(--red), var(--green), var(--blue), 0.2),
            0 0 5px rgba(var(--red), var(--green), var(--blue), 0.1),
            0 0 6px rgba(var(--red), var(--green), var(--blue), 0.05),
            0 0 7px rgba(var(--red), var(--green), var(--blue), 0.01)
    }

    30%,
    55%,
    100% {
        text-shadow: none;
    }
}


@keyframes flyAndBurst {

    0%,
    30% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }

    50% {
        transform: translate(-50vw, 5vh) scale(1.5);
        border-width: 0;
        border-color: #00000000;
    }

    60% {
        transform: translate(-50vw, 5vh) scale(2);
        opacity: 1;
        border: none;
    }

    70% {
        transform: translate(-50vw, 5vh) scale(4);
        opacity: 1;
        border: none;
    }

    80% {
        transform: translate(-50vw, 5vh) scale(4);
        opacity: 0;
        border: none;
    }

    95% {
        transform: translate(-50vw, 5vh) scale(4);
        opacity: 0;
        border: none;
    }

    100% {
        opacity: 0;
        border: none;
    }
}

.sparkle {
    
    animation: text-sparkle 1s infinite, sparkle 1s infinite;
}

.flyAndBurst {
    animation: flyAndBurst 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}

.explication {
    height: 10px;
}

.in {
    transition: opacity 0.3s;
    transition-timing-function: ease-in;
    ;
}

.out {
    transition: opacity 0.3s;
    transition-timing-function: ease-out;
    ;
    opacity: 0;
}

#buble {
    --red : 0;
    --green : 209;
    --blue : 0;
}

/*
#buble span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s;
    opacity: 1;
}

#buble.animate span {
    opacity: 0;
}

#buble::after {
    content: "Love you";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s;
}


#buble.animate::after {
    opacity: 1;
}


.out {
    opacity : 0;
    transition : opacity 2s;   
    transition-timing-function: ease-in;;
}
*/